node_modules/
lib/
dist/
pnpm-lock.yaml
coverage/
*.log
.DS_Store
bundles-size.html
**/__tests__/**/preview/
**/__tests__/**/previews/
**/__tests__/**/*preview.jsx
**/__tests__/**/*preview.tsx
packages/compiler-core/example/.vureact
package-lock.json