lib/
dist/
coverage/
node_modules/

**/**/dist/
**/**/.vureact/
**/**/node_modules/
**/**/*package-lock.json

**/__tests__/**/preview/
**/__tests__/**/previews/
**/__tests__/**/*preview.jsx
**/__tests__/**/*preview.tsx


*.log
.DS_Store
pnpm-lock.yaml
bundles-size.html