node_modules/
lib/
dist/
pnpm-lock.yaml
coverage/
*.log
.DS_Store
bundles-size.html
packages/compiler-core/**/__tests__/**/*preview.jsx
packages/compiler-core/**/__tests__/**/*preview.tsx
packages/compiler-core/example/.vureact
package-lock.json